/*GENERAL*/

body {
	font-family: 'Open Sans', sans-serif;
	background: #E26868;
	color: #3c3c3c;
}

a {
	color: #fffedb;
}

a:hover {
	color: white;
	text-decoration: none;
}

/*MAIN*/

.main {
	max-width: 600px;
	margin: 0 auto;
}

#brand-text {
	margin: 100px 0 -15px;
	font-size: 4em;
	font-weight: bold;
	color: white;
	letter-spacing: 1.5px;
}

#value-prop {
	font-weight: bold;
	font-size: 3em;
	line-height: 52px;
}

form {
	margin: 60px 0;
}

#email-input {
	width: 350px;
	box-shadow: none;
	height: 50px;
	font-size: 1.4em;
	border: 0;
	/*font-weight: bold;*/
}

#email-submit {
	width: 130px;
	height: 50px;
	font-size: 1.2em;
	background: #fffedb;
	border: none;
	color: #3c3c3c;
	font-weight: bold;
}

