<!DOCTYPE html>
<html>
<head>
  <title>Try StaticGap</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/landing/css/main.css">
</head>

<body>

  <div class="main">

  <!-- MAIN STUFF -->
    <h1 id="brand-text">StaticGap</h1>
    <h2 id="value-prop">We get your static website hosted for $20. That's it.</h2>
    <form class="form-inline" action="/submit">
      <input type="email" class="form-control" name="email" id="email-input" placeholder="Enter email address">
      <button type="submit" class="btn btn-success" id="email-submit">Get hosted</button>
    </form>
    <h3>How can we offer such cheap hosting?</h3>
    <p><a href="http://www.heroku.com/">Heroku</a> offers free hosting for websites and webapps. The catch? You have to write your own backend. That's where we come in. We'll write a backend for your website and get your site up and running on Heroku for just $20. We'll even configure your domain name for you.</p>
  
  </div>  

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <!-- <p>Footer</p> -->
    </div>
  </footer>

  <!-- scripts -->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!-- // <script src="/static/landing/js/main.js" type="text/javascript"></script> -->

</body>
</html>





